/*animation: [animation-name] [animation-duration] [animation-timing-function]
[animation-delay] [animation-iteration-count] [animation-direction]
[animation-fill-mode] [animation-play-state];*/

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GameBox{
  width:300px;
  border: 1px solid black;
}


/*.jump{
  animation: jump infinite 1s linear;
  animation-delay: 1s;
}*/

.robot-head{
  animation: move-wheel infinite 0.5s linear;
}

.robot-body{
  animation: move-wheel infinite 0.5s linear;
}

.spoke{
  animation: spin infinite 5s linear;
}

/*.drift-left{
  animation:move-left 3s linear , move-left-2 3s linear 4s;
  transition-delay: */
  /*animation-name: move-left;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards

}

.drift-left-2{
  /*animation: move-left-2 3s linear 4s;*/
  /*animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;*/
  /*animation-delay: 4s;*/
/*}*/

.vertical-spoke{
  transform-origin: left;
}

.horizontal-spoke{
  transform-origin: top;
}

.main{
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.moved{
  transform: translateX(-30px);
}


/*.level-item{
  animation: move-left infinite 20s linear;
}*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg);}
}

@keyframes move-wheel {
  from { transform: translateY(0px); }
  to {transform: translateY(-1px);}
}


@keyframes jump {
  from { transform: translateY(0px); }
  to {transform: translateY(-50px);}
}
